.centerPart{
    display: flex;
    flex-direction: row;
}

.grille,.deck{
    display: grid;
    border : black;
    border-radius: 15px;
    align-content: center;
    max-width: 40%;
    margin: auto;
}

body{
    text-align: center;
    background-color: blueviolet;
    align-content: center ;
    margin: auto;
}

vue-tile{
    margin: 5px;
    border-radius: 15px;
    aspect-ratio: 1/1;
    align-content: center;
    text-align: center;
    display: flex; /* So we can center the letter inside the tile */
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: white;
    font-weight: bold;
    user-select: none; /* Prevents text selection while dragging */
}

.connectButton{
    background-color: #c11313;
    height: auto;
    width: auto;
    border-style: double;
    border-radius: 5px;
}

.nameInput{

}

